.Botones{
    // margin-left: 16px;
    // margin-right: 16px;
    // margin-top: 20px;
    // margin-bottom: 16px; 
    // padding: 12px;
     text-align: center;
     --background:#F47607;
 }
 .TortaN
 {
     width:100%;
     height:80%;
 }
 .TortaC{
         width:100%;
         height:100%;
 }
 .TortaA{
     width:100%;
     height: 100%;
 }
 .TortaM{
     width:100%;
     height: 80%;
 }
 
 ion-grid.Galeria
 {
   width: 100%;
   height: 100%;
   object-fit: cover;
   --background:#E5E5E5;
 }
 .Titulo
 {
    size: 35px;
    color: black;
    font-size: large;
    text-align: center;
 }